services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - bun_cache:/root/.bun
    environment:
      - NODE_ENV=development
      - FIRECRAWL_BASE_URL=http://host.docker.internal:3002
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: ["bun", "dev"]

  app-prod:
    profiles:
      - prod
    build:
      context: .
      target: prod
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - FIRECRAWL_BASE_URL=http://host.docker.internal:3002
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: ["bun", "start"]

volumes:
  bun_cache:
