@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply min-w-[320px] min-h-screen m-0 bg-background text-foreground;
  }
}

.docx-preview {
  color: #111111;
}

.docx-preview p {
  margin: 0;
}

.docx-preview table {
  border-collapse: collapse;
}
